{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Web App Regione API",
    "description" : "API server della web-app per il Consiglio Regionale Veneto",
    "contact" : {
      "email" : "you@your-company.com"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version" : "1.0.0-oas3"
  },
  "servers" : [ {
    "url" : "https://api.site.com/v1",
    "description" : "Production server"
  }, {
    "url" : "https://api.site-dev.com/v1",
    "description" : "Development server"
  } ],
  "tags" : [ {
    "name" : "utenti",
    "description" : "Operazioni disponinbili a tutti gli utenti"
  } ],
  "paths" : {
    "/categoria" : {
      "get" : {
        "tags" : [ "utenti" ],
        "summary" : "categorie presenti nel database",
        "description" : "Permette di ottenere l'elenco di tutte le categorie presenti nel database",
        "operationId" : "getCategorie",
        "responses" : {
          "200" : {
            "description" : "ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "type" : "object",
                    "properties" : {
                      "data" : {
                        "type" : "array",
                        "items" : {
                          "type" : "string"
                        }
                      }
                    }
                  }, {
                    "$ref" : "#/components/schemas/APIResponse"
                  } ]
                }
              }
            }
          },
          "500" : {
            "description" : "Errore interno",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIResponse"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "utenti" ],
        "summary" : "aggiunta di una nuova categoria al database",
        "description" : "Permette di aggiungere una nuova categoria al database",
        "operationId" : "addCategoria",
        "requestBody" : {
          "description" : "Nome della nuova categoria",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Categoria"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "categoria aggiunta",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "sintassi non corretta",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "categoria gia' esistente",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Errore interno",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIResponse"
                }
              }
            }
          }
        }
      }
    },
    "/categoria/{nomeCategoria}" : {
      "get" : {
        "tags" : [ "utenti" ],
        "summary" : "elenco csv nella categoria selezionata",
        "description" : "Permette di ottenere l'elenco dei file csv appartenenti alla categoria selezionata",
        "operationId" : "getCSVinCategory",
        "parameters" : [ {
          "name" : "nomeCategoria",
          "in" : "path",
          "description" : "nome della categoria dei file csv da visualizzare",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/Categoria"
          }
        }, {
          "name" : "skip",
          "in" : "query",
          "description" : "pagina precedente o successiva",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/Paginazione"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "quanti elementi per pagina",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/Paginazione"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "type" : "object",
                    "properties" : {
                      "data" : {
                        "type" : "array",
                        "items" : {
                          "type" : "string"
                        }
                      }
                    }
                  }, {
                    "$ref" : "#/components/schemas/APIResponse"
                  } ]
                }
              }
            }
          },
          "404" : {
            "description" : "risorsa non trovata",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Errore interno",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "utenti" ],
        "summary" : "modifica nome categoria",
        "description" : "Permette di modificare il nome della categoria",
        "operationId" : "modifyCategory",
        "parameters" : [ {
          "name" : "nomeCategoria",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/Categoria"
          }
        } ],
        "requestBody" : {
          "description" : "Nuovo nome per la categoria",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Categoria"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Una categoria con lo stesso nome esiste gia'",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Errore interno",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIResponse"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "utenti" ],
        "summary" : "caricamento file csv nel database",
        "description" : "Permette il caricamento del file csv nel database nella categoria selezionata",
        "operationId" : "loadCSV",
        "parameters" : [ {
          "name" : "nomeCategoria",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/Categoria"
          }
        }, {
          "name" : "nomeFile",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/Categoria"
          }
        } ],
        "requestBody" : {
          "description" : "File CSV da caricare",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CSV"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Un documento con lo stesso nome in questa categoria gia' presente",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Categoria non trovata",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIResponse"
                }
              }
            }
          },
          "417" : {
            "description" : "Esecuzione non riuscita",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Errore interno",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "utenti" ],
        "summary" : "eliminazione categoria",
        "description" : "Elimina in modo permanente una categoria dal database. I documenti appartenenti a tale categoria vengono automaticamente spostati nella categoria \"Nessuna Categoria\".",
        "operationId" : "deleteCSV",
        "parameters" : [ {
          "name" : "nomeCategoria",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/Categoria"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Risorsa non trovata",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Errore interno",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIResponse"
                }
              }
            }
          }
        }
      }
    },
    "/categoria/{nomeCategoria}/{nomeCSV}" : {
      "get" : {
        "tags" : [ "utenti" ],
        "summary" : "restituisce una parte delle righe del csv",
        "description" : "Restituisce un numero limitato di righe del csv, in base ai parametri skip e limit",
        "operationId" : "getCSV",
        "parameters" : [ {
          "name" : "nomeCategoria",
          "in" : "path",
          "description" : "nome della categoria dei file csv da visualizzare",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/Categoria"
          }
        }, {
          "name" : "nomeCSV",
          "in" : "path",
          "description" : "nome del file csv",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "skip",
          "in" : "query",
          "description" : "pagina precedente o successiva",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/Paginazione"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "quanti elementi per pagina",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/Paginazione"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "type" : "object",
                    "properties" : {
                      "data" : {
                        "type" : "object",
                        "properties" : {
                          "indiceInizio" : {
                            "type" : "number"
                          },
                          "indiceFine" : {
                            "type" : "number"
                          },
                          "csv" : {
                            "$ref" : "#/components/schemas/CSV"
                          }
                        }
                      }
                    }
                  }, {
                    "$ref" : "#/components/schemas/APIResponse"
                  } ]
                }
              }
            }
          },
          "404" : {
            "description" : "Risorsa non trovata",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Errore interno",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "utenti" ],
        "summary" : "modifica del file csv",
        "description" : "Modifica del file csv. Un booleano indica se é da modificare la categoria di appartenenza del file CSV oppure se  sono da modificare le righe.",
        "operationId" : "modificaCSV",
        "parameters" : [ {
          "name" : "nomeCategoria",
          "in" : "path",
          "description" : "nome della categoria dei file csv da visualizzare",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/Categoria"
          }
        }, {
          "name" : "nomeCSV",
          "in" : "path",
          "description" : "nome del file csv",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Modifiche da apportare al file CSV",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Risorsa non trovata",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Errore interno",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "utenti" ],
        "summary" : "eliminazione del file csv",
        "description" : "Effettua la cancellazione del file csv in maniera permanente NB! non sará possibile recuperare il file in alcun modo",
        "operationId" : "deleteCSV",
        "parameters" : [ {
          "name" : "nomeCategoria",
          "in" : "path",
          "description" : "nome della categoria dei file csv da visualizzare",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/Categoria"
          }
        }, {
          "name" : "nomeCSV",
          "in" : "path",
          "description" : "nome del file csv",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIResponse"
                }
              }
            }
          },
          "417" : {
            "description" : "Esecuzione non riuscita",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Errore interno",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIResponse"
                }
              }
            }
          }
        }
      }
    },
    "/grafico/{nomeCategoria}/{nomeCSV}" : {
      "get" : {
        "tags" : [ "utenti" ],
        "summary" : "informazioni per grafici",
        "description" : "Produce i dati per la visualizzazione del grafico",
        "operationId" : "graphInfo",
        "parameters" : [ {
          "name" : "nomeCategoria",
          "in" : "path",
          "description" : "nome della categoria in cui é presente il file",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/Categoria"
          }
        }, {
          "name" : "nomeCSV",
          "in" : "path",
          "description" : "nome del file csv",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "colonna",
          "in" : "query",
          "description" : "la colonna di cui visualizzare il grafico",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "type" : "object",
                    "properties" : {
                      "data" : {
                        "$ref" : "#/components/schemas/InfoGrafico"
                      }
                    }
                  }, {
                    "$ref" : "#/components/schemas/APIResponse"
                  } ]
                }
              }
            }
          },
          "404" : {
            "description" : "Risorsa non trovata",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Errore interno",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "APIResponse" : {
        "type" : "object",
        "properties" : {
          "codice" : {
            "type" : "number"
          },
          "messaggioErrore" : {
            "type" : "string"
          }
        }
      },
      "Categoria" : {
        "type" : "string",
        "example" : "Energia"
      },
      "Paginazione" : {
        "type" : "number",
        "example" : 1000
      },
      "InfoGrafico" : {
        "type" : "object",
        "properties" : {
          "titolo" : {
            "type" : "string",
            "example" : "nome colonna 1"
          },
          "etichette" : {
            "type" : "array",
            "example" : [ "label 1", "label 2" ],
            "items" : {
              "type" : "string"
            }
          },
          "conteggi" : {
            "type" : "array",
            "example" : [ 46, 58 ],
            "items" : {
              "type" : "number"
            }
          }
        }
      },
      "CSV" : {
        "type" : "object",
        "properties" : {
          "rows" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CSV_rows"
            }
          }
        }
      },
      "ModificheCSV" : {
        "type" : "object",
        "properties" : {
          "rows" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CSV_rows"
            }
          }
        }
      },
      "body" : {
        "type" : "object",
        "properties" : {
          "modificaCategoria" : {
            "type" : "boolean"
          },
          "data" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/Categoria"
            }, {
              "$ref" : "#/components/schemas/ModificheCSV"
            } ]
          }
        }
      },
      "CSV_rows" : {
        "type" : "object",
        "properties" : {
          "key" : {
            "type" : "string"
          },
          "value" : {
            "anyOf" : [ {
              "type" : "string"
            }, {
              "type" : "number"
            }, {
              "type" : "boolean"
            } ]
          }
        }
      }
    }
  }
}